footer {
    background-image: url(../assets/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
   justify-content: center;
}

.footer_wrapper {
    display: flex;
    width: 1280px;
}


.footer_content_all {
    display: flex;
    flex-direction: row;
}

.footer_content_one {
    width: 278px;
    height: 234px;
    margin: 56px 0 60px 40px;
}

.footer_content_one_header {
    color: var(--var-white-color);
    width: 280px;
}

.footer_mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 251px;
    height: 32px;
    margin: 40px 0 0 0;
}

.mail_svg {
    width: 48px;
    height: 100%;
    background-image: url(../assets/icons/icon-email.svg);
    background-repeat: no-repeat;
}

.footer_text_mail {
    height: 23px;
    width: 191px;
    margin: 0;
    padding: auto 0 auto 20;
    color: var(--var-gold-color);
}

.footer_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 239px;
    height: 32px;
    margin: 40px 0 0 0;
}

.phone_svg {
    width: 48px;
    height: 100%;
    background-image: url(../assets/icons/icon-phone.svg);
    background-repeat: no-repeat;
}

.footer_text_phone {
    height: 23px;
    width: 179px;
    margin: 0;
    padding: auto 0 auto 20;
    color: var(--var-gold-color);
}

.footer_content_two {
    width: 302px;
    height: 234px;
    margin: 56px 0 60px 160px;
}

.footer_content_two_header {
    color: var(--var-white-color);
}

.footer_boston {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 302px;
    height: 46px;
    margin: 34px 0 0 0;
}

.map_svg {
    width: 22px;
    height: 32px;
    background-image: url(../assets/icons/icon-marker.svg);
    background-repeat: no-repeat;
    margin: 0;
    cursor: pointer;
}

.footer_text_Boston {
    height: 46px;
    width: 260px;
    margin: 0;
    padding: auto 0 auto 20;
    color: var(--var-gold-color);
    text-align: left;
}

.footer_london {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 302px;
    height: 32px;
    margin: 32px 0 0 0;
}

.footer_text_London {
    height: 23px;
    width: 260px;
    margin: 0;
    padding: auto 0 auto 20;
    text-align: left;
    color: var(--var-gold-color);
}

.footer_dog {
    width: 300px;
    height: 310px;
    margin: 40px 40px 0 160px;
    background-image: url(../assets/images/footer-puppy.png);
}


@media (min-width: 768px) and (max-width: 1279px) {
    .footer_wrapper {
        flex-direction: column;
        width: 100%;
    }
    .footer_content_all { 
        width: calc(100% - 60px);
        height: auto;
        margin: 30px auto 0
    }
    
    .footer_content_one {
        margin: 0 30px 0 auto;
    }
    .footer_content_two {
        margin: 0 auto 0 30px;
    }

    .footer_dog {
        margin: 65px auto 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer_wrapper {
        flex-direction: column;
        width: 100%;
    }
    .footer_content_all {
        flex-direction: column;
    }
    .footer_content_two_header, .footer_content_one {
        text-align: center;
    } 
    .footer_boston, .footer_london{
        margin: 40px auto 0 0;
    }

    .footer_content_one {
        margin: 30px auto 0;
    }
    .footer_content_two {
        margin: 13px auto 0;
    }
    .footer_dog {
        margin: 30px auto 0;
        width: 81.25vw;
        background-repeat: no-repeat;
        background-size: contain;
        height: 84.0625vw;
    }
    .h3_mini, .h3_typo {
        font-size: 25px;
    }
    .footer_content_two_header {
        width: 270px;
        margin: 0 auto;
    }
    .footer_mail {
        margin: 37px auto 0 13px;
    } 
    .footer_phone {
        margin: 41px auto 0 17px;
    } 
}