:root {
    --var-gold-color: #F1CDB3;
    --var-white-color: #FFFFFF;
    --var-dark-s-color: #CDCDCD;
    --var-light-primary-color: #FDDCC4;
    --var-light-s-color: #FAFAFA;
    --var-light-l-color: #F6F6F6;
    --var-dark-m-color: #B2B2B2;
    --var-dark-l-color: #545454;
    --var-dark-xl-color: #4C4C4C;
    --var-dark-3xl-color: #292929;
    --var-size-44: 44px;
    --var-size-35: 35px;
    --var-size-32: 32px;
    --var-size-25: 25px;
    --var-size-20: 20px;
    --var-size-15: 15px;
    --var-size-17: 17px;
    --var-size-15: 15px;
    --var-size-13: 13px;
    --var-size-12: 12px;
    --var-weight-regular: 400;
    --var-line-height-160: 160%;
    --var-line-height-130: 130%;
    --var-line-height-115: 115%;
    --var-line-height-110: 110%;
    --var-line-height-15: 15px;
    --var-line-height-18: 18px;
    --var-line-height-22one: 22.1px;
    --var-line-height-23: 23px;
    --var-line-height-24: 24px;
    --var-family-georgia: "Georgia";
    --var-family-arial: "Arial";
    --var-letter-spacing-6: 0.06em;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/fonts/georgia/georgia-regular.ttf");
  src: url("../fonts/fonts/georgia/georgia-bold.ttf");
  src: url("../fonts/fonts/georgia/georgia-italic.ttf");
  src: url("../fonts/fonts/georgia/georgia-bold-italic.ttf");
  src: url("../fonts/__MACOSX/fonts/georgia/");
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/fonts/arial/arial-black.ttf");
  src: url("../fonts/fonts/arial/arial-bold-italic.ttf");
  src: url("../fonts/fonts/arial/arial-bold.ttf");
  src: url("../fonts/fonts/arial/arial-italic.ttf");
  src: url("../fonts/fonts/arial/arial-narrow-bold-italic.ttf");
  src: url("../fonts/fonts/arial/arial-narrow-bold.ttf");
  src: url("../fonts/fonts/arial/arial-narrow-italic.ttf");
  src: url("../fonts/fonts/arial/arial-narrow.ttf");
  src: url("../fonts/fonts/arial/arial-regular.ttf");
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1, p {
  margin: 0;
  padding: 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


.main_block {
  
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
align-items: center;
}

.list_food_text {
  margin: 30px 0 0 0;
  width: 100%;
  height: 23px;
  font-family: var(--var-family-georgia);
  font-weight: var(--var-weight-regular);
  font-size: var(--var-size-20);
  line-height: var(--var-line-height-115);
  text-align: center;
  align-items: center;
  letter-spacing: var(--var-letter-spacing-6);
  color: var(--var-dark-l-color);
  white-space: nowrap;
}

.h3_typo {
  color: var(--var-dark-l-color);
  font-family: var(--var-family-georgia);
  font-weight: var(--var-weight-regular);
  font-size: var(--var-size-35);
  line-height: var(--var-line-height-130);
  letter-spacing: var(--var-letter-spacing-6);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--var-family-georgia);
  font-weight: var(--var-weight-regular);
  font-size: var(--var-size-32);
  line-height: var(--var-line-height-110);
  letter-spacing: var(--var-letter-spacing-6);
  color: var(--var-dark-l-color);
  white-space: nowrap;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.logo_subtitle {
  font-family: var(--var-family-arial);
  font-weight: var(--var-weight-regular);
  font-size: var(--var-size-13);
  line-height: var(--var-line-height-15);
  letter-spacing: var(--var-letter-spacing-1);
  color: var(--var-dark-3xl-color);
}

.h3 {
  font-family: var(--var-family-georgia);
  font-style: normal;
  font-weight: var(--var-weight-regular);
  font-size: var(--var-size-35);
  line-height: var(--var-line-height-130);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: var(--var-letter-spacing-6);
  color: var(--var-dark-l-color);
}

@media (min-width: 320px) and (max-width: 1279px) {
  .main_block {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}