.block_about {
    height: auto;
    background-color: #FFFFFF;
}
.block_about_content {
    width: 1200px;
    height: 408px;
    margin: 80px 40px 100px 40px;
    display: flex;
}

.about_pets {
    width: 300px;
    height: 408px;
    background-image: url(../assets/images/about-pets.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 175px;
}
.block_about_content_text {
    width: 430px;
    height: 380px;
    margin: 14px 175px 14px 120px;
}
.cozy_heading {
    width: 370px;
    margin-top: 2px;
}

.paragraph-l {
    font-family: var(--var-family-arial);
    font-weight: var(--var-weight-regular);
    font-size: var(--var-size-15);
    line-height: var(--var-line-height-24);
    color: var(--var-dark-s-color);
}
.paragraph-l-Dark {
    color: var(--var-dark-xl-color);
    line-height: var(--var-line-height-160);
}
.paragraph_one {
    margin: 24px 0 0 0;
}
.paragraph_two {
    margin: 25px 0 0 0;
}


@media (min-width: 768px) and (max-width: 1279px) {
    .block_about, .block_about_content {
        width: 100%;
        height: auto;
    }

    .block_about_content {
        flex-direction: column-reverse;
        margin: 0;
        height: auto;

    }
    .block_about_content_text {
        margin: 80px auto 0;
    }
    .about_pets {
        margin: 80px auto 100px;
    }
    .paragraph_one, .paragraph_two {
        margin: 25px auto 0
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .block_about, .block_about_content {
        width: 100%;
        height: auto;
    }

    .block_about_content {
        flex-direction: column-reverse;
        width: 93.75%;
        margin: 0 auto;
        height: auto;
    }
    .block_about_content_text {
        width: 100%;
        height: auto;
        margin: 42px auto 0;
    }
    .cozy_heading {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0;
    }
    .paragraph_one, .paragraph_two {
        width: 90%;
        text-align: justify;
    }
    .paragraph_one {
        margin: 25px auto 0;
    }
    .paragraph_two {
        margin: 22px auto 0;
    }
    .about_pets {
        width: 81.25vw;
        height: 110.5vw;
        margin: 42px auto 42.4px;
    }
}