.block_help {
    width: 1280px;
    height: auto;
}
.help_content {
    width: 1200px;
    height: auto;
    margin: 80px 40px 40px;
}
.help_content_heading {
    text-align: center;
    margin: 0 auto;
    width: 310px;
}
.help_content_list {
    width: 1026px; /* -2px */
    height: auto;
    margin: 60px auto 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.help_block_list {
    width: 170px;
    height: 113px;
}
.lf_pet_food, .lf_transportation, .lf_toys, .lf_bowls_and_cups, .lf_shampoos, .lf_vitamins, .lf_medicines, .lf_collars, .lf_sleeping_areas {
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-bottom: 55px;
}
.lf_pet_food {
    margin-left: 0px;  
}
.lf_vitamins {
    margin-left: 84px;
}
.lf_sleeping_areas {
    margin-right: 84px;
}
.lf_vitamins, .lf_medicines, .lf_collars, .lf_sleeping_areas {
margin-bottom: 0;
}
.pet_food_svg {
    display: flex;
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-pet-food.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_transportation_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-transportation.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_toys_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-toys.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_bowls_and_cups_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-bowls-and-cups.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_shampoos_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-shampoos.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_vitamins_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-vitamins.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_medicines_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-medicines.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_collars_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-collars-leashes.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.pet_sleeping_areas_svg {
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/icon-sleeping-area.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}


@media (min-width: 768px) and (max-width: 1279px) {
    .block_help {
        width: 100%;
    }
    .help_content {
        margin: 80px auto 0;
        width: 82.03125%;
        height: auto;
    }

    .help_block_list {
        width: 170px;
        height: 113px;
    }

    .help_content_list {
        width: 100%;
        height: auto;
        margin-bottom: 45px;
    }
    .lf_pet_food, .lf_transportation, .lf_toys, .lf_bowls_and_cups, .lf_shampoos, .lf_vitamins, .lf_medicines, .lf_collars, .lf_sleeping_areas {
        margin: 0;
        padding: 0;
        width: 26.98412698%;
        margin-bottom: 55px;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .block_help {
        width: 100%;
    }
    .help_content {
        margin: 0 auto;
        width: 90.625%;
        height: auto;
    }

    .help_block_list {
        width: 130px;
        height: 87px;
    }
    .help_content_heading {
        width: auto;
        margin: 42px auto 0;
    }
    .help_content_list {
        width: 100%;
        height: auto;
        margin: 40px auto 5px;

    }
    .lf_pet_food, .lf_transportation, .lf_toys, .lf_bowls_and_cups, .lf_shampoos, .lf_vitamins, .lf_medicines, .lf_collars, .lf_sleeping_areas {
        margin: 0;
        padding: 0;
        width: 44.82758621%;
        margin-bottom: 30px;
    }
    .help_svg_size {
        width: 15.625%;
        height: 15.625%;
        max-width: 60px;
        max-height: 60px;
        min-width: 50px;
        min-height: 50px;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .list_food_text {
        margin: 20px auto 0;
        width: 100%;
        height: auto;
        font-size: var(--var-size-15);
        letter-spacing: var(--var-letter-spacing-6);
        line-height: var(--var-line-height-110);
    }
}