.one_wrapper {
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.block_One {
    height: auto;
    display: flex;
    flex-direction: row;
}
.start_screen_content_block {
    margin: 253px 0 0 40px;
    width: 460px;
    height: 322px;
}
.start_screen_heading {
    width: 310px;
    font-family: var(--var-family-georgia);
    font-weight: var(--var-weight-regular);
    font-size: var(--var-size-44);
    line-height: var(--var-line-height-130);
    color: var(--var-white-color);
}
.start_screen_heading_position {
    margin: 42px 0 0 0;
}
.start_screen_button {
    margin: 40.5px 0 0 0;
    width: 207px;
    height: 52px;
    background-color: var(--var-gold-color);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}
.start_screen_button:hover {
    background-color: var(--var-light-primary-color);
}
.start_screen_button_text {
    font-family: var(--var-family-georgia);
    font-weight: var(--var-weight-regular);
    font-size: var(--var-size-17);
    line-height: var(--var-line-height-22one);
    letter-spacing: var(--var-letter-spacing-6);
    margin: 10px 0;
    color: var(--var-dark-3xl-color);
}
.start_screen_puppy {
    display: flex;
    background-image: url(../assets/images/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 698px;
    height: 728px;
    margin: 90px 0 0 42px;
}


@media (min-width: 768px) and (max-width: 1279px) {
    .block_One {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .start_screen_content_block {
        margin: 60px auto 0;
    }

    .start_screen_button {
        display: flex;
        margin: 42px auto 0 auto;
        position: relative;
    }
    .start_screen_button_text {
        margin: 15px auto;
    }
    .start_screen_puppy {
        width: 74vw;
        height: 77vw;
        margin: 100px 3.9vw 0 22vw;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .block_One {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .start_screen_content_block {
        margin: 60px auto 0;
        width: 93.75vw;
    }
    .start_screen_heading {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        letter-spacing: var(--var-letter-spacing-6);
    }
    .block_one_text_position {
        width: 100%;
        height: auto;
        margin: 42px auto;
        text-align: center;
    }
    .start_screen_button {
        display: flex;
        margin: 42px auto 0 auto;
        position: relative;
    }
    .start_screen_button_text {
        margin: 15px auto;
    }
    .start_screen_puppy {
        width: 81.25vw; 
        height: 84.92813vw;
        margin: 80px 3.125vw 0 auto;
    }
}